#cloud-config

users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  etcd:
    addr: 10.100.2.101:4001
    bind-addr: 0.0.0.0
    peer-bind-addr: 0.0.0.0
    peer-addr: 10.100.2.101:7001
    cluster-active-size: 1
    snapshot: true
  fleet:
    metadata: role=data
    etcd_servers: "http://10.100.2.101:4001"
  fleet:
     etcd_servers: "http://10.100.2.101:4001"
     metadata: role=couchbase
  units:
    - name: 10-static.network
      runtime: true
      content: |
        [Match]
        Name=en*

        [Network]
        DNS=8.8.8.8
        Address=10.100.2.101/24
        Gateway=10.100.2.100
    - name: etcd.service
      mask: true
    - name: fleet.service
      command: start

  update:
    group: stable
    reboot-strategy: reboot

write_files:
  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      export ETCDCTL_PEERS="http://10.100.2.101:4001"

  - path: /etc/profile.d/fleetctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure fleetctl to work with our etcd servers set above
      export FLEETCTL_ENDPOINT=/var/run/fleet.sock
      export FLEETCTL_EXPERIMENTAL_API=true
