#cloud-config

users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  fleet:
     etcd_servers: "http://10.100.2.101:4001"
     metadata: role=couchbase
  units:
    - name: etcd.service
      mask: true
    - name: fleet.service
      command: start
    - name: network-environment.service
      command: start
      content: |
        [Unit]
        Description=Setup Network Environment
        Documentation=https://github.com/kelseyhightower/setup-network-environment
        Requires=network-online.target
        After=network-online.target

        [Service]
        ExecStartPre=-/usr/bin/mkdir -p /opt/bin
        ExecStartPre=/usr/bin/wget -N -P /opt/bin https://storage.googleapis.com/k8s/setup-network-environment
        ExecStartPre=/usr/bin/chmod +x /opt/bin/setup-network-environment
        ExecStart=/opt/bin/setup-network-environment
        RemainAfterExit=yes
        Restart=always
        RestartSec=2

    - name: couchbase-node.service
      command: start
      content: |
        [Unit]
        After=network-online.target
        Description=Couchbase Service
        Documentation=http://github.com/andrewwebber/couchbase-array
        Requires=network-online.target

        [Service]
        TimeoutStartSec=10m
        ExecStartPre=-/usr/bin/docker kill couchbase
        ExecStartPre=-/usr/bin/docker rm couchbase
        ExecStart=/usr/bin/docker run --rm -it --name couchbase --net="host" andrewwebber/couchbase
        Restart=always
        RestartSec=20

    - name: couchbase-announce.service
      command: start
      content: |
        [Unit]
        Requires=network-online.target
        BindsTo=couchbase-node.service
        After=couchbase-node.service
        Description=Announce couchbase server availability
        Documentation=http://github.com/andrewwebber/couchbase-array

        [Service]
        EnvironmentFile=/etc/network-environment
        ExecStart=/bin/sh -c "while true; do etcdctl --no-sync --peers "10.100.2.101:4001" set /machines/couchbase/${DEFAULT_IPV4} ${DEFAULT_IPV4} --ttl 30;sleep 20;done"
        ExecStop=/bin/sh -c 'etcdctl --no-sync --peers "10.100.2.101:4001" rm /machines/couchbase/${DEFAULT_IPV4}'
        Restart=always
        RestartSec=20

  update:
    group: stable
    reboot-strategy: reboot

write_files:
  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      export ETCDCTL_PEERS="http://10.100.2.101:4001"

  - path: /etc/profile.d/fleetctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure fleetctl to work with our etcd servers set above
      export FLEETCTL_ENDPOINT=/var/run/fleet.sock
      export FLEETCTL_EXPERIMENTAL_API=true
