#cloud-config

users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  fleet:
     etcd_servers: "http://10.100.2.2:4001"
     metadata: role=couchbase
  units:
    - name: etcd.service
      mask: true
    - name: fleet.service
      command: start

    - name: couchbase.service
      command: start
      content: |
        [Unit]
        Description=Couchbase Service
        Documentation=http://github.com/andrewwebber/couchbase-array
        Requires=network-online.target

        [Service]
        TimeoutStartSec=10m
        ExecStartPre=-/usr/bin/docker kill couchbase
        ExecStartPre=-/usr/bin/docker rm couchbase
        ExecStart=/usr/bin/docker run --rm -it --name couchbase --net="host" -e ETCDCTL_PEERS=http://10.100.2.2:4001 --ulimit nofile=40960:40960 --ulimit core=100000000:100000000 --ulimit memlock=100000000:100000000  andrewwebber/couchbase-cloudarray
        Restart=always
        RestartSec=20

  update:
    group: stable
    reboot-strategy: reboot

write_files:
  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      export ETCDCTL_PEERS="http://10.100.2.2:4001"

  - path: /etc/profile.d/fleetctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure fleetctl to work with our etcd servers set above
      export FLEETCTL_ENDPOINT=/var/run/fleet.sock
      export FLEETCTL_EXPERIMENTAL_API=true
