#cloud-config

hostname: etcd1
users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  etcd2:
    name: etcd1
    listen-peer-urls: http://192.168.1.6:2380
    listen-client-urls: http://192.168.1.6:2379,http://127.0.0.1:4001
    advertise-client-urls: http://192.168.1.6:2379
    initial-advertise-peer-urls: http://192.168.1.6:2380
    initial-cluster: etcd1=http://192.168.1.6:2380,etcd2=http://192.168.1.7:2380,etcd3=http://192.168.1.8:2380
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
  update:
    group: alpha
    reboot-strategy: etcd-lock
