#cloud-config

hostname: etcd1
users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  etcd2:
    name: etcd1
    listen-peer-urls: http://192.168.89.215:2380
    listen-client-urls: http://192.168.89.215:2379,http://192.168.89.215:4001,http://127.0.0.1:2379,http://127.0.0.1:4001
    advertise-client-urls: http://192.168.89.215:2379,http://192.168.89.215:4001
    initial-advertise-peer-urls: http://192.168.89.215:2380
    initial-cluster: etcd1=http://192.168.89.215:2380
  fleet:
     etcd_servers: "http://192.168.89.215:4001"
     metadata: role=etcd
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start
  update:
    group: alpha
    reboot-strategy: etcd-lock

write_files:
  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      export ETCDCTL_PEERS="http://192.168.89.215:4001"
