#cloud-config

users:
  - name: core
    passwd: $1$XMZXIbkN$WKmZMCgi5pQWXb7jSywjp1

coreos:
  fleet:
     etcd_servers: "http://192.168.89.215:2379"
     metadata: role=couchbase
  units:
    - name: etcd.service
      mask: true
    - name: fleet.service
      command: start

    - name: couchbase.service
      command: start
      content: |
        [Unit]
        Description=Couchbase Service
        Documentation=http://github.com/andrewwebber/couchbase-array
        Requires=network-online.target

        [Service]
        TimeoutStartSec=10m
        ExecStartPre=-/usr/bin/mkdir /home/core/couchbase
        ExecStartPre=/usr/bin/chown 999:999 /home/core/couchbase
        ExecStartPre=-/usr/bin/docker kill couchbase
        ExecStartPre=-/usr/bin/docker rm -f couchbase
        ExecStart=/usr/bin/docker run --name couchbase --net="host" -v /home/core/couchbase:/opt/couchbase/var -e ETCDCTL_PEERS=http://192.168.89.215:2379 --ulimit nofile=40960:40960 --ulimit core=100000000:100000000 --ulimit memlock=100000000:100000000 andrewwebber/couchbase-cloudarray
        ExecStop=/usr/bin/docker stop --time=120 couchbase
        Restart=always
        RestartSec=20

  update:
    group: alpha
    reboot-strategy: reboot

write_files:
  - path: /etc/brainloop/backup-couchbase.sh
    permissions: 0700
    content: |
      mkdir -p /opt/couchbase/backup
      docker run --rm -v /opt/couchbase/backup:/data/backup -it --net=host andrewwebber/couchbase-cloudarray /opt/couchbase/bin/cbbackup http://localhost:8091 /data/backup

  - path: /etc/profile.d/etcdctl.sh
    permissions: 0644
    owner: core
    content: |
      export ETCDCTL_PEERS="http://192.168.89.215:2379"

  - path: /etc/profile.d/fleetctl.sh
    permissions: 0644
    owner: core
    content: |
      # configure fleetctl to work with our etcd servers set above
      export FLEETCTL_ENDPOINT=/var/run/fleet.sock
      export FLEETCTL_EXPERIMENTAL_API=true
