[Unit]
Description=Couchbase Storage File System
Documentation=http://github.com/andrewwebber/couchbase-array
Requires=network-online.target
Requires=docker.service
After=docker.service
After=network-online.target
After=docker-volumes.service

[Service]
EnvironmentFile=/etc/network-environment
ExecStartPre=-/usr/bin/mkdir /home/core/cbfs
ExecStartPre=/usr/bin/chown 999:999 /home/core/cbfs
ExecStartPre=-/usr/bin/docker kill cbfs
ExecStartPre=-/usr/bin/docker rm -f cbfs
ExecStart=-/usr/bin/sh -c '/usr/bin/docker run --name cbfs --net="host" -v /home/core/cbfs:/opt/cbfs/var andrewwebber/cbfs -couchbase=http://${DEFAULT_IPV4}:8091 -nodeID=${DEFAULT_IPV4}-$(cat /etc/machine-id) --root=/opt/cbfs/var'
ExecStop=/usr/bin/docker kill --signal=SIGTERM cbfs
Restart=always
RestartSec=20

[X-Fleet]
Global=true
