[Unit]
Description=Couchbase Storage File System
Documentation=http://github.com/andrewwebber/couchbase-array
Requires=network-online.target
Requires=docker.service
After=docker.service

[Service]
ExecStart=-/usr/bin/sh -c 'source /etc/profile.d/etcdctl.sh && \
/usr/bin/docker run --name cbfs --net="host" andrewwebber/cbfs \
-couchbase=http://$(etcdctl get services/couchbase-array/ip):8091 -nodeID=$(cat /etc/machine-id)'
ExecStop=/usr/bin/docker kill --signal=SIGTERM cbfs
Restart=always
RestartSec=20

[X-Fleet]
Global=true
